$grid-gutter-width: 10px;
$color: #8c908a;
$white: #ffffff;
$font-stack: helvetica, sans-serif;
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";


// stuff
.wrapper{
  background: url('../skateboard-images/bg.jpg') no-repeat;
}
// layout
.ellipsis{
  display: inline-block;
  padding-left: 65px;
}

.subscribe span {
  @media screen and (max-width: 635px){
     display: none;
  }
}


.subscribe {
  position: relative;
  left: -35px;
  font-family: $font-main;
  text-transform: uppercase;
  color: $white;
    i{
      color: #7584AE;
      margin-right: 8px;
    }
}
// .fa-2x {
// @media screen and (max-width: 730px){
//    height: 25px;
//    width: 25px;
//   }
// }

.fa-facebook{
  background-color: #1722bd;
  padding: 8px 15px 8px 15px;
}
.fa-rss{
  background-color: #e0ab0b;
  padding: 8px 10px 8px 10px;
}
.fa-twitter{
  background-color: lightblue;
  padding: 8px 10px 8px 10px;
}
.fa-youtube{
  background-color: #b51b1b;
  padding: 8px 10px 8px 10px;
}

// skate menu
.sk8-contain{
  margin-bottom: 10px;
}
.ssbc{
  button{
    background-color: #B72631;
    width: 100%;
    font-family: $font-stack;
    text-transform: uppercase;
    margin-top: 10px;
  }
}

  .btn-danger{
    border-radius: 5px;
    margin-bottom: 10px;
}

// header images

.banner{
    @media screen and (max-width: 730px){
       max-width: 95%;
  }
}

.banner {
  position: relative;
  background-image: url('../skateboard-images/top-image.png');
  height: 380px;
  overflow: hidden;
  border: 5px solid $white;
  padding: 0;
  box-shadow: 0 4px lighten(gray, 15%);
  img{
    max-width: 100%;
  }
}

.peraltaimg{
  position: absolute;
  top: 80px;
  left: 30px;
  width: 100%;
}

.banner::before {
  content: "";
  background-image: url('../skateboard-images/grid.png');
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // position: absolute;
  // opacity: .35;
}


// text boxes
.post-list{
    @media screen and (max-width: 730px){
       max-width: 95%;
  }
}

.post-list{
  margin-top: 20px;
  margin-bottom: 20px;
}

.post{
  font-family: $font-secondary;
  padding: 20px;
  background-color: $white;
  min-height: 345px;
  text-transform: capitalize;
  box-shadow: 0 4px lighten(gray, 15%);
    // margin-top: 200px;
    a{
      position: absolute;
      top: 300px;
      left: 130px;
      font-weight: bolder;
      text-transform: uppercase;
      color: #B40000;
    }
}
.article{
  margin-top: 10px;
}

.date span{
  color: $color;
}


// 4 image block


.lance{
  background: url('../skateboard-images/sk8er-4.png')no-repeat center center;
  margin-bottom: 10px;
  height: 250px;
  border: 4px solid $white;
  // background-size: cover;
  background-position: -55px 0px;
    h2{
      top:55px;
      left:75px;
    }
}

.rodney{
  background: url("../skateboard-images/sk8er-3.png");
  margin-right: 10px;
  border: 4px solid $white;
  h2{
    top:55px;
    left:75px;
  }
}

.steve{
  background: url("../skateboard-images/sk8er-1.png");
  margin-right: 10px;
  border: 4px solid $white;
  h2{
    top:80px;
    left:210px;
  }
}

.tommy{
  background: url("../skateboard-images/sk8er-2.png");
  border: 4px solid $white;
  h2{
    top:185px;
    left:75px;
  }
}

.col-img{
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -55px 0px;
}

.col-img2{
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
}

.col-img1{
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -75px;
}

.img-col{
  height: 490px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -460px 0px;
}

.col-imgrow {
  @media screen and (max-width: 790px){
     display: none;
  }
}

.col-imgrow{
  margin-left: 55px;
  margin-right: 55px;
    h2{
      font-family: $font-main;
      text-transform: uppercase;
      position: absolute;
      // text-align: center;
      color: $white;
      font-size: 38px;

    }
}

.lance h2, .rodney h2, .tommy h2{
  width: 210px;
}

// board block
.board-contain{
  margin-top: 20px;
}
.boards{
  margin-bottom: 10px;
  img{
    margin-left: 43px;
  }
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px lighten(gray, 15%);
}

// Contact Us
// .fa2 i{
//    display: inline-block;
// }

.info{
  // padding-bottom:
  margin-bottom: 15px;
  background-color: #FBFBFB;
  box-shadow: 0 4px lighten(gray, 15%);
    h6{
      font-family: $font-secondary;
      font-size: 22px;
    }
    p {
      font-family: $font-secondary;
    }
}

.form button{
  margin-top: 10px;
}


.contact{
  margin-left: 60px;
  margin-right: 60px;
}
